/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.outside-wrapper {
    height: 100vh;
    /* background-color: aqua; */
    background: url('../../../public/images/back_res_03.jpg') no-repeat;
    background-size: cover;

}

.container-outer {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    /* border: 1px solid black; */
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload {
    font-size: 25px;
}

.heading_res {

    font-size: 50px;
    color: black;
    height: 50px;
    text-align: center;
    padding-top: 50px;

}

.file_upload {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #666;
    width: 100%;
    padding: 10px;
    /* border: 1px solid black; */
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

.title_section {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

input#file-upload-button {
    font-size: 10000px;
}

.submit-btn {
    background-color: #007bff;
    font-size: 16px;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
}

.submit-btn:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 8px 16px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}


.list_files {
    margin-top: 25px;
    font-size: 20px;

}